@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style: none
}

img {
	border: 0
}

html,body {
	width: 100%;
	height: 100%
}

body {
	background: #fff;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft Yahei",'Simsun',"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif
}

a {
	color: #428bca;
	text-decoration: none;
	cursor: pointer;
	outline: 0
}

a:hover {
	color: #1963aa;
	text-decoration: underline
}

p {
	line-height: 20px;
	margin-bottom: 5px
}

.red {
	color: red;
}

.blue {
	color: blue;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
	border-radius: 3px
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {
	border-color: rgba(82,168,236,0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)
}

input[type='text'],input[type='password'] {
	width: 350;
	margin-right: 5px;
	padding: 6px 5px;
	line-height: 12px;
	font-size: 12px
}

input[type='text'].sm {
	width: 80px
}

input[type='text'].md,input[type='password'].md {
	width: 250px
}

input[type='text'].lg {
	width: 580px
}

textarea {
	width: 580px;
	height: 55px;
	padding: 6px 5px;
	display: block;
	margin: 10px 0
}

textarea.lg {
	width: 580px;
	height: 100px
}

label {
	margin-right: 15px;
	vertical-align: middle;
	font-family: tahoma
}

input[type='radio'] {
	margin-right: 5px;
	vertical-align: middle;
	margin-top: -2px;
	margin-bottom: 1px
}

input[type='checkbox'] {
	margin-right: 5px;
	vertical-align: middle;
	margin-top: -2px;
	margin-bottom: 1px
}

select {
    border-collapse: collapse;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    width: 212px;
}
table caption{
    color: #3399ff;
    font-size: 16px;
    line-height: 35px;
    padding: 3px 5px;
    text-align: left;
    text-indent: 136px;
    vertical-align: middle;
}
select option {
    font-size: 16px;
    padding: 3px 5px;
    text-indent: 10px;
    vertical-align: middle;
}

input[type='submit'],input[type='button'] {
	background: #337ab7 none repeat scroll 0 0;
    border: 1px solid #286090;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 35px;
    letter-spacing: 2px;
    vertical-align: middle;
}

input[type='submit']:hover,input[type='button']:hover {
	background: #286090
}

input[type='button'].back {
	background: #f0f0f0;
	color: #666;
	border: 1px solid #ccc;
	border-collapse: collapse
}

input[type='button'].back:hover {
	background: #e6e6e6
}

.clear {
	clear: both
}

.red {
	color: #d9534f
}

.blue {
	color: #337ab7
}

.yellow {
	color: #ec971f
}

.left {
	float: left
}

.right {
	float: right
}


.login_box .form {
	margin: 30px auto 0;
    width: 330px;
}

.login_box .form ul li {
	list-style-type: none;
	margin-bottom: 10px;
	position: relative;
}

.login_box .form ul li input.text {
	border: 1px solid #ccc;
    border-radius: 9px;
    color: #555;
    height: 34px;
    padding: 5px;
    text-indent: 38px;
    width: 318px;
}

.login_box .form ul li input[type='submit'] {
	background: #3399ff none repeat scroll 0 0;
    border: 1px solid #3399ff;
    border-radius: 6px;
    color: #fff;
    font-family: "微软雅黑";
    font-weight: bold;
    height: 40px;
    width: 329px;
}
.login_box .logoimg{
	margin-left: 30px;
	
}
.login_box .form ul li input[type='submit']:hover {
	background: #286090
}

.login_box .form ul li input.code {
	border: 1px solid #ccc;
    border-radius: 7px;
    color: #555;
    height: 34px;
    padding: 5px;
    text-indent: 38px;
    width: 200px;
}

.login_box .form ul li span {
	background: #eee none repeat scroll 0 0;
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #ccc;
    font-size: 19px;
    height: 44px;
    left: 1px;
    line-height: 43px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 33px;
	border-radius: 9px 0 0 9px;
}

.login_box .form ul li img {
	border: 1px solid #ccc;
    cursor: pointer;
    float: right;
    height: 43px;
    width: 111px;
}

.login_box .form p {
	font-size: 12px;
	line-height: 30px;
	color: #333;
	text-align: center
}

.login_box .form  .msg{
	color: red;
}




.login_box .form .loginfooter{
	margin-top:20px;
}
.login_box .form p a {
	line-height: 30px;
}

.top_box {
	height: 50px;
	line-height: 50px;
	width: 100%;
	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 14px;
	color: #9d9d9d
}

.top_box a {
	text-decoration: none
}

.top_box .top_left {
	float: left
}

.top_box .top_left .logo {
	float: left;
	width: 190px;
	text-align: center;
	font-size: 18px;
	font-weight: bold
}

.top_box .top_left .logo:hover {
	color: #fff
}

.top_box .top_left ul {
	float: left
}

.top_box .top_left ul li {
	float: left
}

.top_box .top_left ul li a {
	float: left;
	padding: 0 25px;
	color: #9d9d9d;
	text-shadow: 1px 1px 1px #000
}

.top_box .top_left ul li a:hover {
	background: #343434;
	color: #fff
}

.top_box .top_left ul li a.active {
	color: #fff;
	text-shadow: 1px 1px 1px #003;
	background: #080808
}

.top_box .top_right {
	float: right
}

.top_box .top_right ul li {
	float: left;
	color: #fff;
	margin-right: 20px
}

.top_box .top_right ul li a {
	float: left;
	margin-left: 5px;
	display: inline;
	color: #9d9d9d;
	zoom: 1
}

.top_box .top_right ul li a:hover {
	color: #fff
}

.menu_box {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	overflow: scroll;
	overflow-x: hidden;
	width: 189px;
	background: #f2f2f2;
	border-right: 1px solid #ccc;
	z-index: 10
}

.menu_box ul {
	font-size: 14px
}

.menu_box ul li {
	border: 1px solid #e5e5e5;
	border-width: 1px 0
}

.menu_box ul li h3 {
	font-size: 14px;
	padding: 0 16px 0 18px;
	display: block;
	height: 38px;
	line-height: 38px;
	color: #333;
	cursor: pointer
}

.menu_box ul li i {
	margin-right: 5px;
	color: #666;
	font-size: 14px
}

.menu_box ul li ul.sub_menu {
	border-top: 1px solid #e5e5e5;
	background: #fff;
	display: none
}

.menu_box ul li ul.sub_menu li {
	padding-left: 10px
}

.menu_box ul li ul.sub_menu li a {
	padding: 0 16px 0 20px;
	display: block;
	height: 38px;
	line-height: 38px;
	color: #333;
	text-decoration: none
}

.menu_box ul li ul.sub_menu li a:hover {
	color: #1963aa
}

.menu_box ul li ul.sub_menu li a:hover i {
	color: #1963aa
}

.menu_box ul li ul.sub_menu li.on {
	color: #1963aa
}

.menu_box ul li ul.sub_menu li.on a {
	color: #1963aa
}

.menu_box ul li ul.sub_menu li.on a i {
	color: #1963aa
}

.main_box {
	position: fixed;
	left: 190px;
	right: 0;
	top: 50px;
	bottom: 35px
}

.bottom_box {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	text-indent: 200px;
	background: #f2f2f2;
	border-top: 1px solid #ccc;
	position: fixed;
	left: 0;
	bottom: 0
}

.bottom_box a {
	color: #1963aa
}

.crumb_warp {
	height: 40px;
	line-height: 39px;
	text-indent: 5px;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5
}

.crumb_warp i {
	font-size: 18px
}

.result_wrap {
	padding: 10px 20px;
	border-bottom: 1px solid #e5e5e5
}

.result_wrap i {
	margin-right: 5px
}

.result_title {
	line-height: 35px;
	padding-bottom: 5px;
	overflow: hidden
}

.result_title h3 {
	font-size: 14px
}

.mark {
    width: 300px;
    padding: 5px 10px;
    border: 1px dashed #e5e5e5;
    background: #fcf8e3;
    border-radius: 3px;
    margin-bottom: 3px;

}

.mark p {
	padding: 0;
	margin: 0;
	line-height: 22px;
	font-size: 15px;
	color: red;
}

.result_content .short_wrap a {
	margin-right: 20px
}

.result_content ul li {
	line-height: 35px;
	border-bottom: 1px dashed #eaeaea
}

.result_content ul li label {
	color: #909090;
	display: inline-block;
	width: 150px;
	padding-right: 10px;
	text-align: right
}

.result_content ul li span {
	font-size: 15px
}

.result_content ul li span a {
	display: inline-block
}

.result_content ul li span a img {
	vertical-align: middle
}

i.require {
	color: #f60;
	font-family: serif;
	margin-right: 5px
}

table.add_tab {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #eee
}

table.add_tab input{
	width: 200px;
	line-height: 30px;
	font-size: 17px;
}
table.add_tab tr {
	line-height: 40px;
	border: 1px solid #eee
}

table.add_tab tr th {
	text-align: right;
	font-weight: normal;
	padding-right: 10px;
	font-size: 15px;
	border: 1px solid #eee
}

table.add_tab tr td {
	text-align: left;
	padding: 3px 10px;
	font-size: 15px
}

table.add_tab tr td span {
	margin-left: 10px;
	color: #666
}

table.add_tab tr td span i {
	margin-right: 5px
}

.tab_title {
	height: 35px;
	background: #f9f9f9;
	border: 1px solid #e1e1e1;
	border-bottom: none
}

.tab_title li {
	line-height: 35px;
	padding: 0 35px;
	border-right: 1px solid #e1e1e1;
	float: left;
	font-size: 14px;
	cursor: pointer
}

.tab_title li.active {
	color: #495058;
	background: #fff;
	position: relative;
	border-bottom: 1px solid #fff
}

.tab_content {
	display: none;
	padding: 10px;
	border: 1px solid #e1e1e1
}

.btn_group {
	overflow: hidden;
	padding: 15px 0
}
.btn_group input{
	padding: 0 15px;
    width: 200px;
}
.search_wrap {
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5
}

.search_tab tr {
	line-height: 35px
}

.search_tab th {
	text-align: right;
	padding-right: 10px;
	font-weight: normal
}

.search_tab td {
	padding: 0 5px
}

table.list_tab {
	border-collapse: collapse;
	border: 1px solid #ddd;
	font-size: 13px;
	width: 100%
}

table.list_tab tr {
	line-height: 35px
}

table.list_tab tr:nth-child(odd) {
	background: #f9f9f9
}

table.list_tab tr:hover {
	background: #f1f1f1
}

table.list_tab tr.even-tr {
	background: #e9fff2
}

table.list_tab tr input {
	margin-right: 0
}

table.list_tab tr th {
	font-weight: normal;
	font-size: 14px;
	text-align: left;
	background: #eee
}

table.list_tab tr td,table.list_tab tr th {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #e1e1e1
}

table.list_tab tr td.tc,table.list_tab tr th.tc {
	text-align: center
}

table.list_tab tr td a {
	margin-right: 10px;
	float: left
}

table.list_tab tr td input[type='text'] {
	width: 20px;
	text-align: center;
	display: inline
}

table.list_tab tr td input[type='text'].md {
	width: 200px;
	text-align: left;
	display: inline
}

table.list_tab tr td input[type='text'].lg {
	width: 580px;
	text-align: left;
	display: inline
}
table.list_tab tr td input.sg[type="text"] {
    display: inline;
    text-align: left;
    width: 580px;
	line-height:27px;
}
.page_list {
	margin-top: 15px
}

.page_list ul {
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0;
	margin: 0;
	display: inline-block
}

.page_list ul li {
	float: left;
	border: none;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ddd
}

.page_list ul li a {
	padding: 6px 12px;
	text-decoration: none
}

.page_list ul li a:hover {
	background: #eee
}

.page_list ul li.active a {
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7
}

.page_nav {
	margin-top: 15px;
	overflow: hidden
}

.page_nav a,.page_nav span {
	margin-right: 10px;
	padding: 5px 10px;
	float: left;
	border: 1px solid #ddd;
	border-radius: 3px;
	text-decoration: none
}

.page_nav a:hover {
	background: #eee
}

.page_nav span.current {
	background-color: #337ab7;
	border-color: #337ab7;
	color: #fff;
	cursor: default
}

.tips {
	padding: 10px;
	border: 1px solid #ddd
}

.tips h3 {
	font-size: 14px;
	padding-bottom: 6px
}

.tips p {
	line-height: 18px;
	font-size: 12px
}

ul.list_pic {
	overflow: hidden
}

ul.list_pic li {
	float: left;
	margin: 10px 15px 10px 0;
	position: relative
}

ul.list_pic li span {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer
}

ul.list_pic li span:hover {
	color: #af1e1d
}

ul.list_btn {
	padding: 10px 0;
	border-bottom: 1px dashed #eaeaea
}

ul.list_btn li {
	margin: 5px 0
}

ul.list_btn li span {
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #e1e1e1;
	background: #f9f9f9;
	cursor: pointer;
	text-indent: 2px
}

ul.list_btn li span i {
	display: inline-block
}

dl.attr dt {
	position: relative
}

dl.attr dt span {
	height: 20px;
	width: 20px;
	border-radius: 2px;
	display: inline-block;
	border: 1px solid #e1e1e1;
	background: #f9f9f9;
	cursor: pointer;
	text-indent: 2px;
	position: absolute;
	top: 9px
}

dl.attr dt span i {
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 3px
}

table.inner_list {
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin: 5px 0;
	font-size: 12px
}

table.inner_list tr {
	border: 1px solid #ddd;
	line-height: 30px
}

table.inner_list tr th,table.inner_list tr td {
	border: 1px solid #ddd;
	text-align: center
}

table.inner_list tr th {
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold
}

table.inner_list tr td {
	padding: 0 20px
}

table.inner_list tr td input {
	height: 20px;
	padding: 0 3px
}

.ke-dialog-default input[type="submit"], 
.ke-dialog-default input[type="button"]{
	background: #337ab7 none repeat scroll 0 0;
    border: 1px solid #286090;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 25px;
    letter-spacing: 2px;
    line-height: 21px;
    padding: 0 25px;
    vertical-align: middle;
}


input::-webkit-input-placeholder {color:#999;font-size:14px}
input:-moz-placeholder {color:#999;font-size:14px}
input::-moz-placeholder {color:#999;font-size:14px}
input:-ms-input-placeholder {color:#999;font-size:14px}

textarea::-webkit-input-placeholder {color:#999;font-size:14px}
textarea:-moz-placeholder {color:#999;font-size:14px}
textarea::-moz-placeholder {color:#999;font-size:14px}
textarea:-ms-input-placeholder {color:#999;font-size:14px}


